<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title + ' - ' : '' %>NeighborAid</title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/main.css">
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/NeighborAid Icon.png">
</head>
<body>
  <%- include('sidebar') %>
  
  <main class="main-content">
